@-webkit-keyframes mover5 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-10px);
    }
}

@keyframes mover5 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-10px);
    }
}


@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}


@-webkit-keyframes mover9 {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}

@keyframes mover9 {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}

@-webkit-keyframes mover6 {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}

@keyframes mover6 {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}


@-webkit-keyframes mover7 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-14px);
    }
}

@keyframes mover7 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-14px);
    }
}

@-webkit-keyframes mover8 {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-14px);
    }
}

@keyframes mover8 {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-14px);
    }
}

@-webkit-keyframes mover10 {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-14px);
    }
}

@keyframes mover10 {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-14px);
    }
}


@-webkit-keyframes mover11 {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-14px);
    }
}

@keyframes mover11 {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-14px);
    }
}

@-webkit-keyframes mover14 {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}

@keyframes mover14 {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}


@keyframes nikalOye {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0px -10000px;
    }
}

@-webkit-keyframes nikalOye {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0px -10000px;
    }
}

@-ms-keyframes nikalOye {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0px -10000px;
    }
}

@-moz-keyframes nikalOye {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0px -10000px;
    }
}


@-webkit-keyframes mover12 {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}

@keyframes mover12 {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}



@-webkit-keyframes mover13 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-10px);
    }
}

@keyframes mover13 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-10px);
    }
}


@-webkit-keyframes mover1 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-20px);
    }
}

@keyframes mover1 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-20px);
    }
}


@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}


@-webkit-keyframes mover3 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-10px);
    }
}

@keyframes mover3 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-10px);
    }
}
