.hand-video {
  text-align: center;
  padding: 50px 0 20px;

  h2 {
    color: #FAC200;
    font-size: 42px;
    margin: 0 0 20px;
    font-weight: bold;
  }

  p {
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    max-width: 686px;
    margin: 0 auto 60px;
  }

  .inner-wrapper {
    background-image: url('./../img/banner/holding-tab.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 941px;
    height: 567px;
    margin: 0 auto;
    padding: 24px 204px;

    video {
      width: 524px;
      height: 387px;
      object-fit: cover;
      object-position: center;
    }

  }

  @media (max-width: 992px) {
    .inner-wrapper {
      height: 412px;
      padding: 13px 150px;

      video {
        width: 391px;
        height: 287px;
      }
    }
  }

  @media (max-width: 768px) {
    padding: 0;

    h2{
      font-size: 22px;
      line-height: 34px;
    }

    p{
      margin-bottom: 35px;
    }

    .inner-wrapper {
      height: 310px;
      padding: 10px 10px;

      video {
        width: 309px;
    height: 218px;
      }

    }
  }
  @media (max-width: 480px) {
    .inner-wrapper {
      height: 230px;
      padding: 10px 10px;

      video {
        width: 225px;
        height: 158px;
      }

    }
  }





}



.inner-wrapper_mei {
  background-image: url("./../img/eco_system/eco_real3.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 680px;
    margin: 0 auto;
    padding: 2.5% 14.6% 14.5% 12%;

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

@media (max-width: 1199px) {
  .inner-wrapper_mei {
    height: 580px;
    padding: 3% 14.6% 15% 12%;


    video {
      width: 100%;
      height: 100%;
    }
  }
}

@media (max-width: 992px) {
  .inner-wrapper_mei {
    height: 580px;
    padding: 3% 14.6% 15% 12%;


    video {
      width: 100%;
      height: 100%;
    }
  }
}

@media (max-width: 768px) {

  .inner-wrapper_mei {
    height: 350px;
    padding: 3% 14.6% 15% 12%;


    video {
      width: 100%;
      height: 100%;
    }
  }
}

@media (max-width: 480px) {
  .inner-wrapper_mei {
    height: 268px;
    padding: 3% 14.6% 15% 12%;


    video {
      width: 100%;
      height: 100%;
    }
  }
}

@media (max-width: 390px) {
  .inner-wrapper_mei {
    height: 250px;
    padding: 3% 14.6% 15% 12%;


    video {
      width: 100%;
      height: 100%;
    }
  }
}



.meitalk-video {
  text-align: center; 
  padding: 0px 20px;

  .inner-wrapper {
    background-image: url('./../img/eco_system/eco_explore_tv.png');
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     width: 100%;
     max-width: 941px;
     height: 723px;
     margin: 0 auto;
     padding: 15px 13px;
   }

   video {
    width: 100%;
      height: 510px;
      -o-object-fit: cover;
      object-fit: cover;
      -o-object-position: center;
      object-position: center;
    }
}

//   .meitalk-video .inner-wrapper {
//  background-image: url('./img/eco_system/eco_explore_tv.png');
//   background-position: center;
//   background-size: cover;
//   background-repeat: no-repeat;
//   width: 100%;
//   max-width: 941px;
//   height: 723px;
//   margin: 0 auto;
//   padding: 15px 13px;
// }

// .meitalk-video .inner-wrapper video {
// width: 100%;
//   height: 510px;
//   -o-object-fit: cover;
//   object-fit: cover;
//   -o-object-position: center;
//   object-position: center;

  
// }








